{% if template != 'index' %} 
<div class="footer mt-20 ">
  <div class="footer-content bg-black flex flex-row justify-between md:justify-evenly md:gap-7 px-7">
    <!-- Footer navigation -->
    <div class="footer-nav flex flex-col justify-between">
        <a href="{{ routes.root_url  }}" class="block">
            <img height="" width="" src="{{ 'deeds.png' | asset_url }}" alt="Default Logo Image" class="w-20 ">
          </a>
          <p>&copy; {{ "now" | date: "%Y" }} deeds store. All rights reserved.</p>
    </div>
    <!-- Social media links -->
    <div class="footer-social flex flex-col text-white capitalize">
      {% comment %} <a class="text-white" href="https://facebook.com/yourpage" target="_blank">Facebook</a> {% endcomment %}
      <a class="text-white flex flex-row gap-2 items-center" href="https://x.com/deedsmag?s=21&t=kFjHEr7l3ArUnh-KrLrbbw" target="_blank">
      {% render 'icon-x' %}
      <p>twitter</p>
      </a>
      <a class="text-white flex flex-row gap-2 items-center" href="https://www.instagram.com/deedsmagazine?igsh=MXB5eXh2d3Bhb2hhag==" target="_blank">
      {% render 'icon-instagram' %}
      <p>instagram</p>
      </a>
    </div>
    <!-- Copyright notice -->
  </div>
</div>
{%endif%}
{% style %}
    
.footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}
/* 
.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-nav ul li {
  display: inline;
}

.footer-nav ul li a {
  color: white;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
} */

{% endstyle %}