{% if template != 'index' %} 
<div class="footer">
  <div class="footer-content">
    <!-- Footer navigation -->
    <div class="footer-nav">
      <ul>
        <li><a href="/pages/about-us">About Us</a></li>
        <li><a href="/pages/contact-us">Contact Us</a></li>
        <li><a href="/collections/all">Shop</a></li>
        <li><a href="/pages/privacy-policy">Privacy Policy</a></li>
        <li><a href="/pages/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
    <!-- Social media links -->
    <div class="footer-social">
      <a href="https://facebook.com/yourpage" target="_blank">Facebook</a>
      <a href="https://twitter.com/yourprofile" target="_blank">Twitter</a>
      <a href="https://instagram.com/yourprofile" target="_blank">Instagram</a>
    </div>
    <!-- Copyright notice -->
    <p>&copy; {{ "now" | date: "%Y" }} Your Store Name. All rights reserved.</p>
  </div>
</div>
{%endif%}
{% style %}
    
    .footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-nav ul li {
  display: inline;
}

.footer-nav ul li a {
  color: white;
  text-decoration: none;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.footer-social {
  margin-top: 10px;
}

.footer-social a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.footer-social a:hover {
  text-decoration: underline;
}

{% endstyle %}